.playwrite-in-font {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  

body {
    min-height: 100vh;
    background-color: #fcf5c0e2;
}

.header{
    margin: 20px;
    font-size: 50px;
    font-family:"Playwrite IN", 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3e2506fb;
}
.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.label{
    color: rgba(62, 37, 6, 0.806);
    padding: 8px 24px;
    background-color: #fac09b;
    border: solid #fac09b 1px; 
    border-radius: 20px;
}
.button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border: solid #fac09b 1px; 
    border-radius: 20px;
    box-shadow: inset; 
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 8px 24px;
    color: rgba(62, 37, 6, 0.806);
    background-color: #fac09b;
    transition: background-color .2s ease-in;
}

.button:hover{
    cursor: pointer;
    background-color: #F9A876;
    border: solid #F9A876 1px; 
}

.button:active{
    cursor: pointer;
    background-color: #F79253;
    border: solid #F79253 1px; 
}

.colorButtons {
    display:flex;
    justify-content: center;
    align-items: center;
}

.label {
    margin: 10px;
}

.canvas {
    display:flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    border: solid #fac09b 8px;
    border-radius: 8px;
    background-color: #ffffff;
}

.square {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

input[type="color"] {
    -webkit-appearance: none;
  -moz-appearance: none;
    appearance: none; 
    border: none;
    padding: 0;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }
  input[type="color"]::-moz-color-swatch {
    border: none;
  }